{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{{ projectdetail.name }}</h1>
    <p>{{projectdetail.description}}</p>
    <h2>Tasks</h2>
    {% if projectdetail.tasks.all|length > 0 %}
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        {% for item in projectdetail.tasks.all %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.assignee}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.due_date}}</td>
            <td>{{item.is_completed}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </tbody>
</table>
</main>
{% endblock content %}